@keyframes changeColor {

  0%{background-color: pink; width: 200px;}
  30%{background-color: yellow; width: 220px;}
  40%{background-color:green;  width: 300px;}
  50%{background-color:red;  width: 320px;}

}



.box{

  height:200px;
  width:200px;
  border-style: solid;
  border-color: red;
  animation-name: changeColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

}
